head {
	
}

body {
	background: url(img/moi.jpeg) top right no-repeat;
	background-size: 45%;
}

footer {
	
}

div {
	position: sticky;
	left: 30px;
	border: 1px solid grey;
}
.navigation {
	color: white;
}

p {
	font-size: 100%;
	color: grey;
}

#banner {
}

#swsh {
	position: relative;
	height: 50%;
	width: 25%;
