@font-face {
	font-family: "Roboto Slab", "Arial Black", serif;
	src: url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
	}

head {
	text-align: justify-all;
	font-style: oblique;
	font-weight: bold;
	
}

body {
	background: url(img/moi.jpeg) top right no-repeat;
	background-size: 45%;
}

footer {
}

h1 {
	text-shadow: 
}
ul {
	text-align: left;
	position: sticky;
	left: 50px;
	border: 1px grey;
}

p {
	font-size: 100%;
	color: grey;
}
a:hover{
	text-decoration: underline;
	color: red;
}

a:focus{
	background-color: black; 
}
.navigation {

	color: black;
}
#navigation {
	text-align: justify;
}

#swsh {
	position: relative;
	height: 50%;
	width: 25%;
